/*Formulario*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #0046A0, #007DAF, #00A9C5);
}

.box {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 18px;
    border-radius: 15px;
    width: 450px;
}

fieldset {
    border: 3px solid dodgerblue;
}

legend {
    border: 1px solid dodgerblue;
    padding: 15px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
}

.inputBox {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
}

.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus~.labelInput,
.inputUser:valid~.labelInput {
    top: -20px;
    font-size: 15px;
    color: dodgerblue;
}

#btn-enviar {
    background-image: linear-gradient(to right, #0046A0, #00A9C5);
    width: 100%;
    border: none;
    padding: 13px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
    border
}

#submit:hover {
    background-image: linear-gradient(to right, #023272, #0696af);
}


/*Reset do contador padrão do inputNumber*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/*Botoes novos do contador*/
.b {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 8px;
    font-size: 20px;
}

.a {
    color: white;
    background-color: dodgerblue;
    border: none;
    padding: 9px;
    font-size: 22px;
}

.b:hover,
.a:hover {
    background-color: rgb(19, 88, 156);
}

@media(max-width:550px){
    body{
        font-size: 14px;
    }
    .box{
        padding: 14px;
        width: 380px;
    }
    
}